/silverstripe-cache/
/.env
/vendor/
/_resources/
/public/assets/
node_modules
/public/_resources/
/.graphql-generated/
/public/_graphql/
yarn.lock
/app/client/dist/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
