* {
    box-sizing: border-box;

    &::after,
    &::before {
        box-sizing: inherit;
    }

    &:focus {
        outline: 2px solid #000;
        outline-offset: 3px;
    }
}


body {
    font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
    color: #000;
    background-color: #fff;
    opacity: 0;

    &.energized {
        opacity: 1;
    }
}

@import "./styles/components/banner.scss";
