.banner {
  padding: 10vh;
  text-align: center;
  background-color: #aaa;
  margin-bottom: 10vh;

  h1 {
    font-size: 40px;
    line-height: 1;
    max-width: 54ch;
    margin: 0 auto;
    text-wrap: balance;
  }
}
